body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-align: center;
}

#labels {
    margin-top: 2%;
    float: left;
    text-align: right;
    width: 45%;
    line-height: 1.5;
}

#cajasTexto {
    margin-top: 2%;
    float: right;
    margin-right: 40%;
    margin-left: 1%;
    line-height: 1.5;
}

#central {
    clear: both;
    text-align: center;
}

#btnEnviar {
    margin-top: 30px;
}

#labels2, #labelsResul {
    text-align: center;
    margin-top: 2%;
}

#labelsResul {
    margin-top: 7px;
}

#lbl2Bruto, #lbl2Descuento, #lbl2BasImponible, #lbl2IVA {
    margin-right: 5%;
}

#lblBruto, #lblDescuento, #lblBaseImponible, #lblIva {
    margin-right: 6%;
}

#lblBaseImponible {
    margin-left: 5%;
}

#lblIva {
    margin-left: 3%;
}