body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#txtCurso {
    margin-left: 18px;
}

#btnObtenerInformacion {
    margin-left: 18px;
}

#GridView1 {
    margin-left: 40%;
}