@model IEnumerable<ProyectoIntegrador.Models.Producto>

@{
    ViewData["Title"] = "Escaparate";
}
<div class="row">
    <h1>Escaparate</h1>
</div>

<div class="row">
    <div class="col-3">
        <ul>
            <li>Comic</li>
            <li>Fantasia</li>
            <li>Historia</li>
            <li>Terror</li>
        </ul>
    </div>

    <div class="col-9">
        <div class="row">
            @foreach (var item in Model)
             {
                <div class="column">
                    <div class="card">
                        <a href='#' title="Hellraiser"><img class="card-img-top" src="~/img/@Html.DisplayFor(modelItem => item.Imagen)" alt="Hellraiser" /></a>
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Descripcion)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Precio) €</p>
                            <p class="card-text">Unidades disponibles: @Html.DisplayFor(modelItem => item.Stock)</p>
                            <div class="card-body">
                                <button class="addCarrito" onclick="AddCarrito();"><i class='bi-cart-plus'></i> AGREGAR AL CARRITO</button>
                            </div>
                        </div>
                    </div>
                </div>
             }
        </div>
    </div>
</div>
